*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ex2.container{
    height: 80vh;
    display: flex;
    background-color: gray;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: end;
}
.item{
    background-color: yellow;
    margin: 5px 0;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

}
.one{
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: 100px;
}
.two{
    flex-grow: 1;
   flex-shrink: 1;
   width: 15vw;
   flex-basis: 100px;
}
.three{
    flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100px;
}
#ex2.container{
    display: none;
}
/* ================================================================ */
/* ================================================================ */

#ex3{
    display: flex;
    border: 2px solid sandybrown;
    color: white;
}
.ex3:last-child.text{
    background-color: firebrick;
}
.ex3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.logo{
    background-color: blueviolet;
}
.text{
    background-color: rgb(104, 222, 255);
    flex-grow: 1;
}
#ex3.container{
    display: none;
}
