*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    width: 1200px;
    margin: 0 auto;
} */
nav{
    position: fixed;
    background-color: #333;
    width: 100%;
    font-size: 1.7rem;
    color: white;
    padding: 8px 50px;
}
nav p{
    display: inline-block;
    text-transform: uppercase;
    margin-left: calc(100% - 250px);
}
/* =============================================================================== */
/* =============================================================================== */

footer{
    position: fixed;
    bottom: 0px;
    background-color: rgba(46, 202, 241, 0.822);
    /* height: 50px; */
    padding: 25px 50px;
    width: 100%;
}
