*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    background-color: beige;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid black;
}
.one{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.three{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.two{
display: flex;
flex-grow: 1;
justify-content: space-evenly;
}