*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(250, 99, 99);
}
.container{
    margin: 100px auto;
    width: 350px;
    text-align: center;
}
form{
    display: flex;
    justify-content: space-between;
    background: white;
    margin:  10px 0;
}
.btn_form{
    color: blue;
    font-weight: 400;
    font-size: 1.5rem;
    border: 0;
    padding: 0 10px;
}
form input{
    border: 0;
    padding: 10px;
    flex-grow: 1;
}
input:focus, textarea:focus{
    border: 0;
    outline: none;

}
.listTasks{
    background-color: white;
    padding: 30px;
    
    text-align: left;
    position: relative;
}
ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid blue;
    padding: 10px 0;

}
.listTasks li > button{
    margin-right: 3px;
    background-color: red;
    color: white;
    border: 0;
    width: 17px;
    /* height: 16px; */
}
.listTasks li > input{
    margin-right: 3px;
}
.checked{
    color: red;
    text-decoration: line-through;
}
.btn{
    position: absolute;
    color: red;
    border: 0;
    font-weight: 400;
    font-size: 1.5rem;
    right: 30px;
}